.app {
    margin: 20px auto;
    width: 300px;
}

.input {
    width: 200px;
    font-size: 20px;
    background-color: sandybrown;
    border-radius: 5px;
}

.search-div {
    width: 200px;
    font-size: 15px;
    padding: 3px;
    border: 0.1px solid black;
    border-radius: 5px;
}
